.MovieOverview {
  display: flex;
  gap: 26px;
}
.MovieOverviewImage {
  width: 300px;
  height: 450px;
}
.MovieOverviewDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  object-fit: cover;
}

.MovieOverviewGenresSection {
  display: flex;
  gap: 16px;
}
.MovieOverviewGenresSection > * {
  border: 1px solid black;
  padding: 4px;
  border-radius: 10px;
}
